body { background: gray; }

h1 { 
font:150px calibri,sans-serif; 
font-variant:small-caps;
color:white; 
line-height:1.1em; 
margin:35px 10px 0 25px; 
padding:100px 100px 100px 50px; 
margin:100px 100px 100px 50px; 
position:relative; 
top:position:absolute; 
top:5px; 
text-align:center;
background-color:teal; }

li { font-size:0.6rem; line-height:1.2em; margin:1em 10px 0 28px; }